.litbx {

	$that: .litbx !default;

	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__outer {
		position: relative;
		height: 90%;
		width: 40%;
		background-color: #fff;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__inner {

	}

	&__item {
		//position: relative;
		height: 90%;
		width: auto;
	}

	&__arrow {
		position: absolute;
		cursor: pointer;
		width: 30%;
		top: 0;
		bottom: 0;
		background-color: rgba(200, 200, 200, 0.1);

		i {
			position: absolute;
			top: 50%;
			background-color: green;
			padding: 10px 20px;

			&.prev { left: 0; }
			&.next { right: 0; }
		}

		&.prev { left: 0; }
		&.next { right: 0; }


	}

}
