.litbx {

	$that: .litbx !default;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.5);

		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__wrapper {
		position: relative;
		box-sizing: content-box;
		/*
		height: 90%;
		width: 40%;
		*/
		background-color: #fff;


		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__inner {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__item {
		//position: relative;
		/*
		height: 90%;
		width: auto;
		*/
	}

	/*
		Arrow
	 */
	&__arrow {
		position: absolute;
		cursor: pointer;
		width: 30%;
		top: 0;
		bottom: 0;
		background-color: rgba(200, 200, 200, 0.1);

		i {
			position: absolute;
			top: 50%;
			background-color: green;
			padding: 10px 20px;

			&.prev { left: 0; }
			&.next { right: 0; }
		}

		&--prev { left: 0; }
		&--next { right: 0; }


	}

	/*
		Loading
	 */
	&.loading::after {
		content: "";
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 101;
		width: 40px;
		height: 40px;
		background-color: yellow;

		animation: sk-rotateplane 1.2s infinite ease-in-out;
	}

	@-webkit-keyframes sk-rotateplane {
		0% { -webkit-transform: perspective(120px) }
		50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}

	@keyframes sk-rotateplane {
		0% {
			transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		} 50% {
			transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		} 100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		}
	}

}
